

.post {
    background: var(--beige-200);
    border-radius: 8px;
    padding: 2.5rem;
}

.post + .post {
    margin-top: 2rem;
}

.content {
    line-height: 1.6;
    color: var(--brown-800);
    margin-top: 1rem;
}

.content p {
    margin-top: 1rem;
}

.content a {
    font-weight: bold;
    color: var(--orange-300);
    text-decoration: none; 
    padding-right: 0.5rem;
}

.content a:hover {
    color: var(--orange-400);
}

.post > header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.post > header time {
    font-size: 0.875rem;
    color: var(--beige-300);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author img {
    border: 2px solid var(--brown-600);
}

.authorInfo {
    color: var(--brown-800);
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;
}

.authorInfo span {
    color: var(--brown-600);
}

.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--white);
}

.commentForm > strong {
    line-height: 1.6;
    color: var(--brown-800);
}

.commentForm textarea {
    width: 100%;
    background: var(--white);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--brown-800); 
    line-height: 1.4;
    margin-top: 1rem; 
}

.commentForm footer {
    visibility: hidden;
    max-height: 0;
}

.commentForm:focus-within footer {
    visibility: visible;
    max-height: none;
}

.commentForm button[type=submit] {
    padding: 0.75rem 1.25rem;
    margin-top: 0.75rem;
    border-radius: 8px;
    border: 0;
    background: var(--orange-300);
    color: var(--white);
    cursor: pointer;
    font-weight: bold;
    transition: color 0.1s, background-color 0.1s;
}

.commentForm button[type=submit]:not(:disabled):hover {
    background: var(--orange-400);
}

.commentForm button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.commentList {
    margin-top: 2rem;
}
